<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>내 정보 - 즐겨찾기 목록</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/footer.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <label class="logo">STRETCHING</label>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="program.html">PROGRAM</a></li>
                    <li><a href="messageBoard.html">BULLETIN BOARD</a></li>
                    <li><a href="sportingGoods.html">SPORTING GOODS</a></li>
                    <li><a class="active" href="myPage.html">MY PAGE</a></li>
                </ul>
            </nav>  
        </header>
        <section class="grid">
            <article>
                <div class="aside">
                    <div>
                        <h1><a href="myPage.html">MYPAGE</a></h1>
                    </div>
                    <div >
                        <ul>
                            <p><a class="active2" href="bookmark.html">BOOKMARK</a></p>
                            <p><a href="myPost.html">MY POST</a></p>
                            <p><a href="change.html">SETTING</a></p>
                        </ul>
                    </div> 
                </div>
            </article>
            <article>
                <div class="main"> 
                    <div class="dropDown"> 
                        <div>
                            <div class="top">
                                <select name="" id="">
                                    <option value="">검색선택</option>
                                    <option value="">제목</option>
                                    <option value="">최신순</option>
                                    <option value="">인기순</option>
                                </select>
                                
                                <input type="text" maxlength="100">
                                <input type="submit" value="검색">
                                <input type="button" value="초기화">
                            </div> 
                        </div>
                       
                        <div class="youtube">
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/nOGT4lXlSHw?si=g2eN0h7FYctSGFMe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">전신스트레칭</a>
                            </span>      
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/jJJiR7nNeqQ?si=q3PzqwmV-etAqbqt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">허리스트레칭</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/50WCSpZtdmA?si=ac0ey_5-X6Iewabr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">아침스트레칭</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/ouRBXs-air8?si=qTD9YX9JPMMhJndV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">목 마사지</a>
                            </span>      
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/UE9U-4MJL1A?si=NRoUtGCW7C5ZfW2f" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">어깨 마사지</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/sqsGonaDh9g?si=N6uBb-7x92_WX-fY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">날개뼈 마사지</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/OvtQ_G75E4U?si=0Y_7KQaB9wSRR4Mh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">백니 교정</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/PvIhCUOsZSM?si=JhrGJVYjtbGOVPA7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">골반 교정</a>
                            </span>
                            <span class="you1">
                                <iframe width="350" height="250" src="https://www.youtube.com/embed/2vnjQZ19k5I?si=sTkENyQGKXpFnXKV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                <br><a href="" id="program">어깨 비대칭 교정</a>
                            </span>
                        </div> 
                        <div class="postPage">
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">4</a>
                            <a href="">5</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="footer">
                <ul>
                    <li>유한대학교 </li>
                    <li>컴퓨터소프트웨어공학과</li>
                    <li>컴퓨터소프트웨어전공 </li>
                    <li>3조</li>
                    <li>02-2610-0768</li>
                </ul>
            </div>
        </footer>
    </body>
</html>