<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>자유게시판</title>
        <link rel="stylesheet" href="css/share.css" />
        <link rel="stylesheet" href="css/board.css" />
        <link rel="stylesheet" href="css/media.css" />
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
    </head>
    <body>
        <nav class="navbar">
            <div>
                <a href="index.html">홈페이지 이름</a>
            </div>
            <div>
                <a href="program.html">프로그램</a>
            </div>
            <div>
                <a href="messageBoard.html">자유게시판</a>
            </div>
            <div>
                <a href="sportingGoods.html">운동기구</a>
            </div>
            <div>
                <a href="login.html">로그인</a>
            </div>

        </nav>
        <div id="grid">
            <div class="aside">
                <div>
                    <h1><a href="messageBoard.html" id="program">자유게시판</a></h1>
                </div>
                <div >
                    <ul>
                        <p><a href="messageBoard.html" id="program">자유게시판</a></p>
                        <p> <a href="m_myRoutine.html" id="program">나만의 운동루틴</a></p>
                    </ul>
                </div>
                
            </div>

<div class="main-container">
      <div class="main-title">
           <h1>자유게시판</h1>
      </div>
      <div class="board-list-container">
        <div class="board-list-top">
          <div class="board-top">
            <div class="board-num">번호</div>
            <div class="board-title">제목</div>
            <div class="board-writer">글쓴이</div>
            <div class="board-date">작성일</div>
            <div class="board-count">조회</div>
          </div>
        </div>
        <div class="board-list" id="board-list-table"></div>
        <div class="board-page" id="board-list-page"></div>
        <div class="btn-wrap">
          <a href="write.html" class="btn-add">등록</a>
        </div>
      </div>
    </div>
    <script src="js/write.js" defer></script>
        
    </body>
</html>
