<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>내 게시글</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/footer.css">
    </head>
    <body>
        <header>
            <nav class="navbar">
                <label class="logo">STRETCHING</label>
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="program.html">PROGRAM</a></li>
                    <li><a href="messageBoard.html">BULLETIN BOARD</a></li>
                    <li><a href="sportingGoods.html">SPORTING GOODS</a></li>
                    <li><a class="active" href="myPage.html">MY PAGE</a></li>
                </ul>
            </nav>
        </header>
        <section class="grid">
            <article>
                <div class="aside">
                    <div>
                        <h1><a href="myPage.html">MYPAGE</a></h1>
                    </div>
                    <div >
                        <ul>
                            <p><a href="bookmark.html">BOOKMARK</a></p>
                            <p><a class="active2" href="myPost.html">MY POST</a></p>
                            <p><a href="change.html">SETTING</a></p>
                        </ul>
                    </div> 
                </div>
            </article>
            <article>
                <div class="main"> 
                    <div class="dropDown"> 
                        <div>
                            <div class="top">
                                <select name="" id="">
                                    <option value="">검색선택</option>
                                    <option value="">제목</option>
                                    <option value="">최신순</option>
                                    <option value="">조회수순</option>
                                </select>
                                <input type="text" maxlength="100">
                                <input type="submit" value="검색">
                                <input type="button" value="초기화">
                                <input type="button" value="글 작성">
                                <input type="button" value="수정하기">
                            </div> 
                        </div>
                       <div>
                        <h2>내 게시물</h2>
                       </div>
                       <div class="board_list">
                            <div class="title1">
                                <div class="number"> 번호</div>
                                <div class="title2">제목</div>
                                <div class="date">작성일</div>
                                <div class="writer">작성자</div>
                                <div class="board">게시판</div>
                            </div>
                        <div>
                            <div class="number"> 1</div>
                            <div class="title2"> 전신 스트레칭</div>
                            <div class="date">2023-4-25</div>
                            <div class="writer">작성자</div>
                            <div class="board">  전신</div>
                        </div>
                        <div>
                            <div class="number">2</div>
                            <div class="title2">어깨 뭉침을 풀어주는 스트레칭</div>
                            <div class="date"> 2023-5-25</div>
                            <div class="writer">작성자</div>
                            <div class="board">어깨</div>
                        </div>
                        <div>
                            <div class="number">3</div>
                            <div class="title2"> 운동 후 스트레칭</div>
                            <div class="date"> 2023-6-25</div>
                            <div class="writer">작성자</div>
                            <div class="board"> 운동</div>
                        </div>
                        <div>
                            <div class="number">4</div>
                            <div class="title2">고관절 스트레칭</div>
                            <div class="date"> 2023-7-25</div>
                            <div class="writer">작성자</div>
                            <div class="board"> 고관절</div>
                        </div>
                        <div>
                            <div class="number">5</div>
                            <div class="title2">숨은 키 스트레칭</div>
                            <div class="date"> 2023-8-25</div>
                            <div class="writer">작성자</div>
                            <div class="board">키</div>
                        </div>
                       
                    </div>
                    <div class="postPage">
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                    </div>
                </div>
            </article>
        </section>
        <footer>
            <div class="footer">
                <ul>
                    <li>유한대학교 </li>
                    <li>컴퓨터소프트웨어공학과</li>
                    <li>컴퓨터소프트웨어전공 </li>
                    <li>3조</li>
                    <li>02-2610-0768</li>
                </ul>
            </div>
        </footer>
    </body>
</html>