<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>프로그램-스트레칭</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
    </head>
    <body>
        <nav class="navbar">
            <div>
                <a href="index.html">홈페이지 이름</a>
            </div>
            <div>
                <a href="program.html">프로그램</a>
            </div>
            <div>
                <a href="messageBoard.html">자유게시판</a>
            </div>
            <div>
                <a href="sportingGoods.html">운동기구</a>
            </div>
            <div>
                <a href="login.html">로그인</a>
            </div>

        </nav>
        <div id="grid">
            <div class="aside">
                <div>
                    <h1><a href="program.html" id="program">프로그램</a></h1>
                </div>
                <div >
                    <ul>
                        <p><a href="p_Stretching.html" id="program">스트레칭</a></p>
                        <p> <a href="p_Massage.html" id="program">마사지</a></p>
                        <p><a href="p_CorrectionalExercise.html" id="program">교정운동</a></p>
                    </ul>
                </div>
                
            </div>
            <div class="main"> 
                <div class="dropDown"> 
                    <div>
                        <div class="top">
                            <select name="" id="">
                                <option value="">검색선택</option>
                                <option value="">제목</option>
                                <option value="">최신순</option>
                                <option value="">인기순</option>
                            </select>
                            <input type="text" maxlength="100">
                            <input type="submit" value="검색">
                            <input type="button" value="초기화">
                        </div> 
                    </div>
                   
                    <div id="youtube">
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/nOGT4lXlSHw?si=g2eN0h7FYctSGFMe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">전신스트레칭</a>
                        </span>      
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/jJJiR7nNeqQ?si=q3PzqwmV-etAqbqt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">허리스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/50WCSpZtdmA?si=ac0ey_5-X6Iewabr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">아침스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/FMOISIlhLEY?si=pFNkgX9aUnSbiHE6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">목, 어깨 스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/--MMq6I07b4?si=uBdNDF58NNSModMn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <br><a href="" id="program">하체스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/BowfGEVE2eU?si=iLEPaGsUm0ivBRHW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">팔, 손목 스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/XzFYxbLNApQ?si=15TC5c-KItffXTiD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">어깨, 등 스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/MiFcj6g5WzU?si=dCFtIDgckyXYibSB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">종아리, 발 스트레칭</a>
                        </span>
                        <span class="you1">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/2EDtaWYf2bQ?si=mk4eDeStVuZQDUgv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            <br><a href="" id="program">엉덩이, 허벅지 스트레칭</a>
                        </span>
                    </div> 
                    <div class="postPage">
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                    </div>
                </div>
            </div>
        
    </body>
</html>