.program{
    color: black;
}
#program2{
    color: black;
    padding-top: 30%;
}
.aside{
    padding-top: 10px;
    width: 200px;
    padding-left: 30px;
    
}
.gird a.active2, a:hover{
    border: 1px solid black; 
    border-radius: 3px;
    transition: .5s;
}
p{
    padding-bottom: 10px;
}
.grid{
    display: grid;
    grid-template-columns: 150px 1fr;
    padding-top: 30px;
}
.main{
    padding-left: 130px;
}
.you1{
padding: 10px 10px 10px;
}

.youtube{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
padding-top: 30px;
padding-left: 30px;
}
.search{
float: right;

}
iframe{
border-radius: 10px;
}
.asidemenu{
    width: 300px;
}
.mainscreen{
    width: 1fr;
}
