<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>상세페이지</title>
         <th:block th:replace="~{/fragments/header::header}"></th:block>
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <style>
       #color{
        color: black;
        font-size: 20px;
       }
       .main{
        display: block
       }
       .total{
        display: flex;
       }
       
        </style>
    </head>
    <body>
      	<th:block th:replace="~{/fragments/navbar::navbar}"></th:block>
        <div class="total">
            <div class="detailImg">
                <img src="img/foam1.jpg" alt="폼롤러 사진">
            </div>
            <div class="detail">
                <h2>밸런시스 NEW EVA 폼롤러 90cm</h2>
                <label>가격:27,900원</label>
                <br><label>배송비:3000원</label>
                <br><select name="" id="">
                    <option value="">필수-옵션 선택</option>
                    <option value="">블랙</option>
                    <option value="">웜그레이</option>
                    <option value="">아쿠아블루</option>
                    <option value="">오렌지 브라운</option>
                    <option value="">파인그린</option>
                </select>
                <br><input type="button" value="구매하기 ">
                <input type="button" value="장바구니 ">
                
            </div>
        </div>
       
       
    </body>
</html>