<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>   

<head>
	<meta charset="utf-8">
	<title>메인페이지</title>
	<link rel="stylesheet" type="text/css" href="css/navbar.css">
	<link rel="stylesheet" type="text/css" href="css/slide.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	<style>
		.main {
			text-align: center;
		}

		#item {
			display: flex;
		}

		#youtube {
			display: flex;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="header" th:include="/fragments/header"></th:block>
	<div class="main">
		<img th:src="@{/img/stretching.jpg}" width="100%">
	</div>
	<section>
		<div id="content_box">
			<div class="box">
				<div>
					<h3>최신영상</h3>
				</div>
				<div id="youtube">
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/nOGT4lXlSHw?si=g2eN0h7FYctSGFMe"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">전신스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/jJJiR7nNeqQ?si=q3PzqwmV-etAqbqt"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">허리스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/50WCSpZtdmA?si=ac0ey_5-X6Iewabr"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">아침스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/ouRBXs-air8?si=qTD9YX9JPMMhJndV"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">목 마사지</a>
					</span>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="content_box">
			<div class="box">
				<div>
					<h3>인기영상</h3>
				</div>
				<div id="youtube">
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/nOGT4lXlSHw?si=g2eN0h7FYctSGFMe"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">전신스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/jJJiR7nNeqQ?si=q3PzqwmV-etAqbqt"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">허리스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/50WCSpZtdmA?si=ac0ey_5-X6Iewabr"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">아침스트레칭</a>
					</span>
					<span class="you1">
						<iframe width="350" height="250"
							src="https://www.youtube.com/embed/ouRBXs-air8?si=qTD9YX9JPMMhJndV"
							title="YouTube video player" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
						<br><a href="" id="program">목 마사지</a>
					</span>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div id="content_box">
			<div class="box">
				<div>
					<h3>인기상품</h3>
				</div>
				<div id="item">
					<div><a href="https://brand.naver.com/melkin/products/581152025?NaPm=ct%3Dlnvxhclc%7Cci%3Df169fe7456e61aa1f8cc2184fd8578ddefdc8533%7Ctr%3Dsls%7Csn%3D447572%7Chk%3D4024c2b814baf6c97b132f114960f2cd4d48e4b7">
						<div class="item1"><img src="/img/band1.jpg"></div>
						<div class="item1">멜킨 라텍스 밴드</div>
						<div>3,800원</div>
						<div>평점<span>4.8</span>·리뷰<span>30,735</span></div>
					</a></div>
					<div><a href="https://smartstore.naver.com/gomunara/products/2205621865?NaPm=ct%3Dlnvxhuc8%7Cci%3Dc01387fa342f1aef41e1f47403df6f9e19425497%7Ctr%3Dsls%7Csn%3D209666%7Chk%3D63f946d0e7ad8dde27fb4ca4417e3b5629fd7c1e">
						<div class="item1"><img src="/img/band2.jpg"></div>
						<div>고무나라 밴드</div>
						<div>1,800원</div>
						<div>평점<span>4.7</span>·리뷰<span>22,472</span></div>
					</a></div>
					<div><a href="https://brand.naver.com/egojin/products/586087783?NaPm=ct%3Dlnvxi888%7Cci%3D97d9262fb3af5f950da551412a3ec7fde8e75114%7Ctr%3Dsls%7Csn%3D156815%7Chk%3Dcc94bbd6dc97fa1412dab14b00a44b735c9f2f98">
						<div class="item1"><img src="/img/band3.jpg"></div>
						<div>이고진 밴드</div>
						<div>2,100원</div>
						<div>평점<span>4.7</span>·리뷰<span>8,605</span></div>
					</a></div>
					<div><a href="https://smartstore.naver.com/finisports/products/3662262955?NaPm=ct%3Dlnvxnitc%7Cci%3D0bc032d49dc553387568ad8f2df372ae8f188e62%7Ctr%3Dsls%7Csn%3D188274%7Chk%3D0dc9fb4824f726f597fcac177047cc104a3d0094">
						<div class="item1"><img src="/img/band4.jpg"></div>
						<div>테라 밴드</div>
						<div>9,900원</div>
						<div>평점<span>4.7</span>·리뷰<span>3,866</span></div>
					</a></div>
					<div><a href="https://smartstore.naver.com/ironvic/products/5590396052?NaPm=ct%3Dlnvxirio%7Cci%3D0AMc002wZwXzO%2DK03eY8%7Ctr%3Dpla%7Chk%3D8789b2c68671d13124f4ce0ae732a7bd4d7db349">
						<div class="item1"><img src="/img/band5.jpg"></div>
						<div>아이언빅 밴드</div>
						<div>14,500원</div>
						<div>평점<span>4.8</span>·리뷰<span>3,962</span></div>
					</a></div>
				</div>
			</div>
		</div>		
	</section>


</body>
</html>