<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>운동기구-밴드</title>
         <th:block th:replace="~{/fragments/header::header}"></th:block>
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/videoList.css">
         <style>
		.box {
		border: 1px solid black;
		}
</style>
    </head>
    <body>
			<div class="box">
        	<th:block th:replace="~{/fragments/navbar::navbar}"></th:block>
        <section class="grid">
            <article>
                <div class="aside">
                    <div>
                        <h1><a href="/sportingGoods" >SPORTING GOODS</a></h1>
                    </div>
                    <div >
                        <ul>
                            <p><a href="/s_FoamRoller" >FOAMROLLER</a></p>
                            <p> <a href="/s_MassageBall">MASSAGEBALL</a></p>
                            <p><a class="active2" href="/s_Band">BAND</a></p>
                        </ul>
                    </div> 
                </div>
            </article>
            <article>
                <div class="listmain"> 
                    <div class="videoList"> 
                        <span>
                            <span>
                                <h3>전체상품</h3>
                                <span>판매자추천순 | 인기도순 | 평점높은순 | 최신등록순</span>    
                            </span> 
                        </span>
                        <span class="search" style="margin-right: 120px; margin-top: 0px;">
                            <div class="icon"></div>
                            <div class="input">
                                <input type="text" placeholder="Search" id="mySearch">
                            </div>
                            <span class="clear" onclick="document.getElementById('mySearch').value = ''"></span>
                        </span>
                    </div>
                </div> 
                    <div class="goodslist">
                        <div class="content_box">     
                                <div class="item">
                                    <div class="item1"><a href="https://smartstore.naver.com/batraining/products/6257517252?NaPm=ct%3Dlnww7r94%7Cci%3D0zC00013Sx1zBoGmS11M%7Ctr%3Dpla%7Chk%3D31181b43da2cba2816e5ec88dbe4c1ef4d994e1a">
                                        <div><img src="img/band10.jpg" alt="밴드사진"></div>
                                        <div>비에이 루프밴드</div>
                                        <div>11,900원</div>
                                        <div>평점<span>4.7</span>·리뷰<span>597</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://smartstore.naver.com/batraining/products/5251540557?n_media=27758&n_query=%EC%8A%A4%ED%8F%AC%EC%B8%A0%EB%B0%B4%EB%93%9C&n_rank=2&n_ad_group=grp-a001-02-000000018732085&n_ad=nad-a001-02-000000115503810&n_campaign_type=2&n_mall_id=ncp_1o1szv_01&n_mall_pid=5251540557&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnww8vdk%7Cci%3D0Esc001RSx1z0oRATKX9%7Ctr%3Dpla%7Chk%3D069b0b93bc3b20bb191894b8b681e58f91308b1e">
                                        <div></a><img src="img/band11.jpg" alt="밴드 사진"></div>
                                        <div>비에이 풀업밴드</div>
                                        <div>1,500원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>16,961</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://smartstore.naver.com/wssports/products/8057965078?n_media=27758&n_query=%EC%8A%A4%ED%8F%AC%EC%B8%A0%EB%B0%B4%EB%93%9C&n_rank=2&n_ad_group=grp-a001-02-000000035350254&n_ad=nad-a001-02-000000249303225&n_campaign_type=2&n_mall_id=wssport77&n_mall_pid=8057965078&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnwwjto0%7Cci%3D0Asc001QT31zcBKYTKYW%7Ctr%3Dpla%7Chk%3D9181491a951057698a9f22dfa046d3b6b1b537dc">
                                        <div><img src="img/band12.jpg" alt="밴드 사진"></div>
                                        <div>아리프 밴드 세트</div>
                                        <div>19,800원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>49</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://brand.naver.com/egojin/products/4416974283?n_media=27758&n_query=%EC%8A%A4%ED%8F%AC%EC%B8%A0%EB%B0%B4%EB%93%9C&n_rank=2&n_ad_group=grp-a001-02-000000011530051&n_ad=nad-a001-02-000000075879667&n_campaign_type=2&n_mall_id=egojin&n_mall_pid=4416974283&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnwwr38o%7Cci%3D0yS00039Th1zeF8V3f3x%7Ctr%3Dpla%7Chk%3Df16de6a71b77768ae7af6101a7d6b4ff87599c6a">
                                        <div><img src="img/band13.jpg" alt="밴드 사진"></div>
                                        <div>이고진 푸쉬업 밴드</div>
                                        <div>7,600원</div>
                                        <div>평점<span>4.6</span>·리뷰<span>11</span></div>
                                     </a></div>
                                   <div class="item1"><a href="https://brand.naver.com/naumon/products/3813357029?NaPm=ct%3Dlnwwqhmw%7Cci%3D9c6f337c957c5e9d74845bb5949af17495db2089%7Ctr%3Dsls%7Csn%3D311562%7Chk%3Da4aabb80a8a3bc85e1d76afb621fad381d055c90">
                                        <div><img src="img/band14.jpg" alt="밴드 사진"></div>
                                        <div>세라 밴드</div>
                                        <div>9,900원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>48,713</span></div>
                                    </a></div>
                                   <div class="item1"><a href="">
                                        <div><img src="img/band15.jpg" alt="밴드 사진"></div>
                                        <div>고무나라 힙밴드</div>
                                        <div>7,400원</div>
                                        <div>평점<span>4.6</span>·리뷰<span>349</span></div>
                                    </a></div>
                                   <div class="item1"><a href="">
                                        <div><img src="img/band16.jpg"  alt="밴드 사진"></div>
                                        <div>고무나라 풀업밴드</div>
                                        <div>8,300원</div>
                                        <div>평점<span>4.9</span>·리뷰<span>21,070</span></div>
                                   </a></div>
                                   <div class="item1"><a href="https://brand.naver.com/melkin/products/7292744623?NaPm=ct%3Dlnwwxr7k%7Cci%3Df62e5acd71c67eaa6fc92950a98318357ca6847f%7Ctr%3Dsls%7Csn%3D447572%7Chk%3Dbc82d739a10ce0d2cc48f55991c7366c20410fbd">
								   <div><img src="img/band17.jpg"></div>
                                    <div>멜킨 풀업밴드</div>
                                    <div>18,300원</div>
                                    <div>평점<span>4.8</span>·리뷰<span>1,230</span></div>
								</a></div>  
								<div class="item1"><a href="https://brand.naver.com/melkin/products/639016947?NaPm=ct%3Dlnwwyvc0%7Cci%3D71f92af495860bdb6a83eb3eef232d53cc41935e%7Ctr%3Dsls%7Csn%3D447572%7Chk%3De3fab758e8b48a34e98fc80f4d30cecb80bf94af">
								   <div><img src="img/band18.jpg"></div>
                                    <div>멜킨 루프밴드</div>
                                    <div>2,900원</div>
                                    <div>평점<span>4.7</span>·리뷰<span>24,555</span></div>
								</a></div>  
                               </div>                                              
                        </div> 
                        <div class="postPage">
                            <a href="s_Band.html">1</a>
                            <a href="s_Band2.html">2</a>
                            <a href="s_Band3.html">3</a>
                        </div>
                    </div>
                </article>
        </section>
        <footer>
            <div class="footer">
                <ul>
                    <li>유한대학교 </li>
                    <li>컴퓨터소프트웨어공학과</li>
                    <li>컴퓨터소프트웨어전공 </li>
                    <li>3조</li>
                    <li>02-2610-0768</li>
                </ul>
            </div>
        </footer>
        <script src="js/search.js"></script>    
    </body>
</html>