<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>운동기구-밴드</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/videoList.css">
    </head>
    <body>
        <header>
              <nav th:replace="~{/fragments/header::header}"></nav>  
        </header>
        <section class="grid">
            <article>
                <div class="aside">
                    <div>
                        <h1><a href="/sportingGoods" >SPORTING GOODS</a></h1>
                    </div>
                    <div >
                        <ul>
                            <p><a href="/s_FoamRoller" >FOAMROLLER</a></p>
                            <p> <a href="/s_MassageBall">MASSAGEBALL</a></p>
                            <p><a class="active2" href="/s_Band">BAND</a></p>
                        </ul>
                    </div> 
                </div>
            </article>
            <article>
                <div class="listmain"> 
                    <div class="videoList"> 
                        <span>
                            <span class="box">
                                <h3>전체상품</h3>
                                <span>판매자추천순 | 인기도순 | 평점높은순 | 최신등록순</span>    
                            </span> 
                        </span>
                        <span class="search" style="margin-right: 120px; margin-top: 0px;">
                            <div class="icon"></div>
                            <div class="input">
                                <input type="text" placeholder="Search" id="mySearch">
                            </div>
                            <span class="clear" onclick="document.getElementById('mySearch').value = ''"></span>
                        </span>
                    </div>
                </div> 
                    <div class="goodslist">
                        <div class="content_box">     
                                <div class="item">
                                    <div class="item1"><a href="https://brand.naver.com/melkin/products/581152025?NaPm=ct%3Dlnvxt9ls%7Cci%3D6666b640f82987d6fa27708cea567b9b85c9f4e6%7Ctr%3Dsls%7Csn%3D447572%7Chk%3D0ac724ecefb346f353cd6db4021b926b425fc827">
                                        <div><img src="img/band1.jpg" alt="밴드사진"></div>
                                        <div>멜킨 라텍스 밴드</div>
                                        <div>3,800원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>30,735</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://smartstore.naver.com/gomunara/products/2205621865?NaPm=ct%3Dlnvxtl6g%7Cci%3D2409811fbab08b9884eac5c267fe13c8f0818f6d%7Ctr%3Dsls%7Csn%3D209666%7Chk%3Dbb71b98e173815f06fa89bd0f93a129cc06e7ea9">
                                        <div></a><img src="img/band2.jpg" alt="밴드 사진"></div>
                                        <div>고무나라 밴드</div>
                                        <div>1,800원</div>
                                        <div>평점<span>4.7</span>·리뷰<span>22,472</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://brand.naver.com/egojin/products/586087783?NaPm=ct%3Dlnvxu1ds%7Cci%3D033d3e248643b34e4cc97ec6ba44675fb43895e4%7Ctr%3Dsls%7Csn%3D156815%7Chk%3D01b564858494b8130120c5d6930c85dcfd29f946">
                                        <div><img src="img/band3.jpg" alt="밴드 사진"></div>
                                        <div>이고진 밴드</div>
                                        <div>2,100원</div>
                                        <div>평점<span>4.7</span>·리뷰<span>8,605</span></div>
                                     </a></div>
                                    <div class="item1"><a href="https://smartstore.naver.com/finisports/products/3662262955?NaPm=ct%3Dlnvxsr34%7Cci%3D2e05f5155f65202d30f5a0bf3df96fa11ca0eadb%7Ctr%3Dsls%7Csn%3D188274%7Chk%3De10e23a650e2a59dc491ba8d503e09fc7ed976bd">
                                        <div><img src="img/band4.jpg" alt="밴드 사진"></div>
                                        <div>테라 밴드</div>
                                        <div>9,900원</div>
                                        <div>평점<span>4.7</span>·리뷰<span>3,866</span></div>
                                     </a></div>
                                   <div class="item1"><a href="https://smartstore.naver.com/ironvic/products/5590396052?NaPm=ct%3Dlnvxuhl4%7Cci%3D0BYc0035031z3XG0jKZJ%7Ctr%3Dpla%7Chk%3Dfc9e9c6b9ad6bfba4e05405786c5c1948937eaa3">
                                        <div><img src="img/band5.jpg" alt="밴드 사진"></div>
                                        <div>아이언빅 밴드</div>
                                        <div>14,500원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>3,962</span></div>
                                    </a></div>
                                   <div class="item1"><a href="https://smartstore.naver.com/ironvic/products/5237170020?NaPm=ct%3Dlnvxuxsg%7Cci%3D3ae5cd72f45dc11adb5addd8a67cd92548e84de4%7Ctr%3Dslsc%7Csn%3D2341409%7Chk%3De84bc3fb4c96151ef9e905ef5c21ee022cf31376">
                                        <div><img src="img/band6.jpg" alt="밴드 사진"></div>
                                        <div>아이언빅 밴드</div>
                                        <div>2,300원</div>
                                        <div>평점<span>4.8</span>·리뷰<span>1,744</span></div>
                                    </a></div>
                                   <div class="item1"><a href="https://smartstore.naver.com/wssports/products/5494547261?n_media=27758&n_query=%EC%8A%A4%ED%8F%AC%EC%B8%A0%EB%B0%B4%EB%93%9C&n_rank=1&n_ad_group=grp-a001-02-000000025387001&n_ad=nad-a001-02-000000167122613&n_campaign_type=2&n_mall_id=wssport77&n_mall_pid=5494547261&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnvxvawo%7Cci%3D0yS0003F031zjXfdlL1L%7Ctr%3Dpla%7Chk%3D07e38e557bb5165ad968564d423ffa82fc541162">
                                        <div><img src="img/band7.jpg"  alt="밴드 사진"></div>
                                        <div>프로스펙스 밴드</div>
                                        <div>5,600원</div>
                                        <div>평점<span>4.9</span>·리뷰<span>567</span></div>
                                   </a></div>
                                </div>                                              
                        </div> 
                        <div class="postPage">
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                        </div>
                    </div>
                </article>
        </section>
        <footer>
            <div class="footer">
                <ul>
                    <li>유한대학교 </li>
                    <li>컴퓨터소프트웨어공학과</li>
                    <li>컴퓨터소프트웨어전공 </li>
                    <li>3조</li>
                    <li>02-2610-0768</li>
                </ul>
            </div>
        </footer>
        <script src="js/search.js"></script>    
    </body>
</html>