<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>운동기구-폼롤러</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/videoList.css">
    </head>
    <body>
        <header>
              <nav th:replace="~{/fragments/header::header}"></nav>  
        </header>
       <section class="grid">
        <article>
            <div class="aside">
                <div>
                    <h1><a href="/sportingGoods">SPORTING GOODS</a></h1>
                </div>
                <div >
                    <ul>
                        <p><a class="active2" href="/s_FoamRoller" >FOAMROLLER</a></p>
                        <p> <a href="/s_MassageBall">MASSAGEBALL</a></p>
                        <p><a href="/s_Band">BAND</a></p>
                    </ul>
                </div> 
            </div>
        </article>
        <article> 
            <div class="listmain"> 
                <div class="videoList"> 
                    <span>
                        <span class="box">
                            <h3>전체상품</h3>
                            <span>판매자추천순 | 인기도순 | 평점높은순 | 최신등록순</span>    
                        </span> 
                    </span>
                    <span class="search" style="margin-right: 120px; margin-top: 0px;">
                        <div class="icon"></div>
                        <div class="input">
                            <input type="text" placeholder="Search" id="mySearch">
                        </div>
                        <span class="clear" onclick="document.getElementById('mySearch').value = ''"></span>
                    </span>
                </div>
            </div> 
            <div class="goodslist">
                <div class="content_box">  
                    <div class="item">
                        <div class="item1"><a href="https://smartstore.naver.com/delta1114/products/599690620?NaPm=ct%3Dlnvxy1o8%7Cci%3D0AYc001F0h1zWb0z3eZp%7Ctr%3Dpla%7Chk%3Dcb7653065041111a775e7cd591aaf4ff4788315d">
                        <div><img src="img/foam1.jpg"  alt="폼롤러 사진"></div>
                            <div>밸런시스 폼롤러</div>
                            <div>27,900원</div>
                            <div>평점<span>4.8</span>·리뷰<span>13,939</span></div>
                        </a></div>
                        <div  class="item1"><a href="https://brand.naver.com/melkin/products/7124664880?NaPm=ct%3Dlnvxyaxk%7Cci%3D0c584fa5dd79da27d6e27336ff1010476ab72e44%7Ctr%3Dsls%7Csn%3D447572%7Chk%3Dfc57ada918e9ea35918c96a84e79b0256565ef9e">
                            <div><img src="img/foam2.jpg" alt="폼롤러 사진"></div>
                            <div>멜킨 폼롤러</div>
                            <div>20,900원</div>
                            <div>평점<span>4.8</span>·리뷰<span>7,717</span></div>
                        </a></div>
                        <div  class="item1"><a href="https://smartstore.naver.com/elinecommerce/products/8268638960?NaPm=ct%3Dlnvxyotk%7Cci%3Dd6c25314a08f81b4b9de54d3e90d08372846afb9%7Ctr%3Dsls%7Csn%3D7886605%7Chk%3D498859e4c9d834c15be94f1caec6bb9ae78d5cac">
                            <div><img src="img/foam3.jpg" alt="폼롤러 사진"></div>
                            <div>뉴포츠 폼롤러</div>
                            <div>12,900원</div>
                            <div>평점<span>4.7</span>·리뷰<span>281</span></div>
                        </a></div>
                        <div  class="item1"><a href="https://smartstore.naver.com/batraining/products/6173898917?NaPm=ct%3Dlnvxzcqo%7Cci%3D66bf3ecfc77c094d5bcf9df0d814af4b9f0a1f2c%7Ctr%3Dslsl%7Csn%3D2272802%7Chk%3D9a4e6fc7b7209da3aa25df1e8582368f776bd7e2">
                            <div><img src="img/foam4.jpg" alt="폼롤러 사진"></div>
                            <div>비에이 폼롤러</div>
                            <div>12,900원</div>
                            <div>평점<span>4.8</span>·리뷰<span>2,026</span></div>
                        </a></div>
                       <div  class="item1"><a href="https://brand.naver.com/naumon/products/3019899024?n_media=27758&n_query=%ED%8F%BC%EB%A1%A4%EB%9F%AC&n_rank=1&n_ad_group=grp-a001-02-000000011367899&n_ad=nad-a001-02-000000065393247&n_campaign_type=2&n_mall_id=naum05&n_mall_pid=3019899024&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnvxzpuw%7Cci%3D0zG0002T0h1zIMO7ZLld%7Ctr%3Dpla%7Chk%3De7c5efe3d767bf3eb46f755b9223f0856663e2f6">
                            <div><img src="img/foam5.jpg" alt="폼롤러 사진"></div>
                            <div>트라택 폼롤러</div>
                            <div>20,900원</div>
                            <div>평점<span>4.8</span>·리뷰<span>7,924</span></div>
                       </a></div>
                       <div  class="item1"><a href="https://smartstore.naver.com/sportsfanatic/products/506066219?NaPm=ct%3Dlnvy07ls%7Cci%3D0b28fa746478f6a8db5e031438be7649d4fe98f2%7Ctr%3Dsls%7Csn%3D219277%7Chk%3D207bfeb5127cc92123ea586ad4a913706195a3f7">
                            <div ><img src="img/foam6.jpg" alt="폼롤러 사진"></div>
                            <div>바디맵 폼롤러</div>
                            <div>12,000원</div>
                            <div>평점<span>4.8</span>·리뷰<span>6,570</span></div>
                       </a></div>
                       <div  class="item1"><a href="https://brand.naver.com/egojin/products/520670022?NaPm=ct%3Dlnvy0gv4%7Cci%3D941c80bec5018aa251a3be41d3a9d6546eed14d3%7Ctr%3Dsls%7Csn%3D156815%7Chk%3D7ef03a7f1d87b1fb53578cf9dd42e2ab14535661">
                            <div><img src="img/foam7.jpg" alt="폼롤러 사진"></div>
                            <div>이고진 폼롤러</div>
                            <div>15,000원</div>
                            <div>평점<span>4.8</span>·리뷰<span>8,016</span></div>
                       </a></div>
                    </div>                                              
                </div>
            </div> 
            <div class="postPage">
                <a href="">1</a>
                <a href="">2</a>
                <a href="">3</a>
            </div>
            </div>            
        </article>
       </section>
        <footer>
            <div class="footer">
                <ul>
                    <li>유한대학교 </li>
                    <li>컴퓨터소프트웨어공학과</li>
                    <li>컴퓨터소프트웨어전공 </li>
                    <li>3조</li>
                    <li>02-2610-0768</li>
                </ul>
            </div>
        </footer>
        <script src="js/search.js"></script>
    </body>
</html>