<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>운동기구-마사지 볼</title>
        <th:block th:replace="~{/fragments/header::header}"></th:block>
        <link rel="stylesheet" href="css/post.css">
        <link rel="stylesheet" href="css/aside.css">
        <link rel="stylesheet" href="css/goods.css">
        <link rel="stylesheet" href="css/search.css">
        <link rel="stylesheet" href="css/videoList.css">
         <style>
		.box {
		border: 1px solid black;
		}
</style>
    </head>
    <body>
		<div class="box">
        	<th:block th:replace="~{/fragments/navbar::navbar}"></th:block>
        <section class="grid">
            <article>
                <div class="aside">
                    <div>
                        <h1><a href="/sportingGoods">SPORTING GOODS</a></h1>
                    </div>
                    <div >
                        <ul>
                            <p><a href="/s_FoamRoller" >FOAMROLLER</a></p>
                            <p><a class="active2" href="/s_MassageBall" >MASSAGEBALL</a></p>
                            <p><a href="/s_Band" >BAND</a></p>
                        </ul>
                    </div> 
                </div>
            </article>
            <article class="mainscreen">
                <div class="listmain"> 
                    <div class="vedioList"> 
                        <span>
                            <span>
                                <h3>전체상품</h3>
                                <span>판매자추천순 | 인기도순 | 평점높은순 | 최신등록순</span>    
                            </span> 
                        </span>
                        <span class="search" style="margin-right: 120px; margin-top: 0px;">
                            <div class="icon"></div>
                            <div class="input">
                                <input type="text" placeholder="Search" id="mySearch">
                            </div>
                            <span class="clear" onclick="document.getElementById('mySearch').value = ''"></span>
                        </span>
                    </div>
                </div> 
                <div class="goodslist">
                    <div class="content_box"> 
                        <div class="item">
                            <div class="item1"><a href="https://smartstore.naver.com/finisports/products/422628231?NaPm=ct%3Dlnvy49fs%7Cci%3Dd61c8b1e6d941858121cf57d36d7d343b7af4c6c%7Ctr%3Dsls%7Csn%3D188274%7Chk%3D3646388c48a812d187ad598ce3a3ffb737b42fd9">
                                <div><img src="img/ball1.jpg" alt="마사지 볼 사진"></div>
                                <div>와두 마사지 볼</div>
                                <div>5,500원</div>
                                <div>평점<span>4.8</span>·리뷰<span>1,248</span></div>
                            </a></div>
                            <div class="item1"><a href="https://brand.naver.com/melkin/products/2776148060?NaPm=ct%3Dlnvy4ls8%7Cci%3De304036a7fa42bc49aa2865a82a70e0e274cba65%7Ctr%3Dsls%7Csn%3D447572%7Chk%3D5245943455bb51212d821156315c21c2bceee305">
                                <div><img src="img/ball2.jpg"  alt="마사지 볼 사진"></div>
                                <div>멜킨스포츠 마사지 볼</div>
                                <div>3,700원</div>
                                <div>평점<span>4.8</span>·리뷰<span>3,344</span></div>
                            </a></div>
                            <div class="item1"><a href="https://smartstore.naver.com/wssports/products/8339881035?n_media=27758&n_query=%EB%A7%88%EC%82%AC%EC%A7%80%EB%B3%BC&n_rank=1&n_ad_group=grp-a001-02-000000034781840&n_ad=nad-a001-02-000000245359726&n_campaign_type=2&n_mall_id=wssport77&n_mall_pid=8339881035&n_ad_group_type=2&n_match=3&NaPm=ct%3Dlnvy54aw%7Cci%3D0Bcc002P0x1zDFQpXKXz%7Ctr%3Dpla%7Chk%3Dc7020334dc64030030cca89ac2a17f6b8ca51e90">
                                <div><img src="img/ball3.jpg"  alt="마사지 볼 사진"></div>
                                <div>아리프 마사지 볼</div>
                                <div>8,400원</div>
                                <div>평점<span>4.8</span>·리뷰<span>782</span></div>
                            </a></div>
                            <div class="item1"><a href="https://brand.naver.com/andar/products/5670172853">
                                <div><img src="img/ball4.jpg"  alt="마사지 볼 사진"></div>
                                <div>안다르 마사지 볼</div>
                                <div>9,900원</div>
                                <div>평점<span>4.7</span>·리뷰<span>8,514</span></div>
                            </a></div>
                           <div class="item1"><a href="https://brand.naver.com/naumon/products/3961252606?NaPm=ct%3Dlnvy6yns%7Cci%3Daa17506026869dbb37cb423f9466eed021ef1faf%7Ctr%3Dsls%7Csn%3D311562%7Chk%3D198f6bae6dbf452f3ba466d61cb6bb9687b691c2">
                                <div><img src="img/ball5.jpg"  alt="마사지 볼 사진"></div>
                                <div>트리거포인트 마사지 볼</div>
                                <div>18,800원</div>
                                <div>평점<span>4.8</span>·리뷰<span>2,710</span></div>
                           </a></div>
                           <div class="item1"><a href="https://smartstore.naver.com/letogms/products/8828697751?NaPm=ct%3Dlnvy7mkw%7Cci%3D4c63b8b7013945915a92d9b89920b56e0320435f%7Ctr%3Dslsc%7Csn%3D161836%7Chk%3Dd106e2a00a7a0e63886f5a29e2316832bc94d5a8">
                                <div><img src="img/ball6.jpg"  alt="마사지 볼 사진"></div>
                                <div>레토 마사지 볼</div>
                                <div>4,000원</div>
                                <div>평점<span>4.8</span>·리뷰<span>350</span></div>
                           </a></div>
                           <div class="item1"><a href="https://smartstore.naver.com/spohoilcstore/products/5494609313?NaPm=ct%3Dlnvy8ecw%7Cci%3D89897438d0bca3c10d935b4b84f0ccf6b6542caa%7Ctr%3Dsls%7Csn%3D809321%7Chk%3D5391334ab9476d6dbf7caeb17dcd5153ea52aebf">
                                <div><img src="img/ball7.jpg"  alt="마사지 볼 사진"></div>
                                <div>스포홀릭 마사지 볼</div>
                                <div>1,400원</div>
                                <div>평점<span>4.8</span>·리뷰<span>294</span></div>
                           </a></div>
                           <div class="item1"><a href="https://smartstore.naver.com/cosymourte/products/8928380220?NaPm=ct%3Dlnwxrnlk%7Cci%3Daddd00965123c87cbaac35ae83b4c1350490f157%7Ctr%3Dslsc%7Csn%3D8241194%7Chk%3D830afa1e120c0a54d8842da0e9b44148bf956335">
                                <div><img src="img/ball8.jpg"  alt="마사지 볼 사진"></div>
                                <div>루아즈 마사지 볼</div>
                                <div>2,200원</div>
                                <div>평점<span>4.9</span>·리뷰<span>33</span></div>
                           </a></div>
                           <div class="item1"><a href="https://smartstore.naver.com/oh-gym/products/6367980096?NaPm=ct%3Dlnwxtr7s%7Cci%3D88634c3d9fc898af87e0d43f35c97570fafc04cf%7Ctr%3Dslsbrc%7Csn%3D1195764%7Chk%3Dc097899d2f497223f8fb90ddf3c11e94842b222b">
                                <div><img src="img/ball9.jpg"  alt="마사지 볼 사진"></div>
                                <div>오짐 마사지 볼</div>
                                <div>4,900원</div>
                                <div>평점<span>4.8</span>·리뷰<span>1,605</span></div>
                           </a></div>
                        </div>                                                      
                    </div> 
                    <div class="postPage">
                        <a href="s_MassageBall.html">1</a>
                        <a href="s_MassageBall2.html">2</a>
                    </div>
                </div>        
            </article>
            </section>        
            <footer>
                <div class="footer">
                    <ul>
                        <li>유한대학교 </li>
                        <li>컴퓨터소프트웨어공학과</li>
                        <li>컴퓨터소프트웨어전공 </li>
                        <li>3조</li>
                        <li>02-2610-0768</li>
                    </ul>
                </div>
            </footer>
            <script src="js/search.js"></script>
    </body>
</html>