<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="utf-8">
	<title>영상</title>
	<th:block th:replace="~{/fragments/header::header}"></th:block>
	<link rel="stylesheet" href="/css/youtubeview.css">
</head>
<style>
	.box {
		border: 1px solid black;
	}
</style>

<body>
	<th:block th:replace="~{/fragments/navbar::navbar}"></th:block>
	<div class="box">
		<div class="center">
			<!-- Video Player -->
			<section class="player">
				<div>
					<span class="you1">
						<iframe width="1300" height="700" th:src="${youtube.iframeUrl}" title="YouTube video player"
							frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							allowfullscreen></iframe>
					</span>
				</div>
			</section>

			<section class="info">
				<div class="metadata">
					<div class="titleAndButton">
						<span class="title clamp" th:text="${youtube.title}">제목제목제목제목</span>
						<!-- Actions -->
						<ul class="actions">
							<li><button><span><img src="/img/good.jpg" width="20"></span>좋아요</button></li>
							<li><button><span><img src="/img/bad.jpg" width="20"></span>싫어요</button></li>
						</ul>
					</div>
				</div>

				<!-- Channel Description -->
				<div class="channel">
					<div class="metadata">
						<div class="info">
							<span class="name" th:text="${youtube.uploader}">안민수</span>
						</div>
					</div>
					<button class="subscribe" onclick="bookmark()">즐겨찾기</button>
					<img id ="bookmarkImg">
				</div>
				<th:block th:replace="~{/fragments/footer::footer}"></th:block>
			</section>

		</div>

	</div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var seq = /*[[ ${youtube.seq} ]]*/ "";
		$(document).ready(function () {
        checkBookmark();
    });
    
		function bookmark() {
			$.ajax({
				url			: "/bookmark",
				type		: "POST",
				data		: {seq : seq},
				success: function(data){
					if(data != "OK"){
						alert(data);
					}
				},
				error: function(){
					alert('error');
				}
			});
			changeImg();
		}
		function checkBookmark(){
			$.ajax({
				url			: "/checkBookmark",
				type		: "POST",
				data		: {seq : seq},
				success: function(bool){
					if(bool == true){
						$("#bookmarkImg").attr("src", "/img/bookmark_added.png");
					}else if(bool == false){
						$("#bookmarkImg").attr("src", "/img/bookmark.png")
					}
				}
			});
		}
		function changeImg(){
			var defaultImg = document.getElementById("bookmarkImg").src;
			var defaultSrc = "https://kag0330.duckdns.org/img/bookmark.png"
			console.log(defaultImg)
			if(defaultImg == defaultSrc){
				$("#bookmarkImg").attr("src", "/img/bookmark_added.png");
			}else{
				$("#bookmarkImg").attr("src", "/img/bookmark.png")
			}
		}
		/*]]>*/
	</script>
</body>

</html>