body{
    background-color: #EBEDF2;
}

span{
    width: 400px;
}
.finder{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;

    background: #fff;
    border: 1px solid rgb(236, 234, 234);
    border-radius: 3px;
    height: 400px;
    margin: 30px auto 0;
    width: 400px;
}
.input {
    background: rgba(250,250,250,1);
    border: 1px solid rgb(236, 234, 234);
    border-radius: 3px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: black;
    height: 39px;
    padding: 21px;
    font-size: 13px;
    padding-left: 5%;
    width: 90%;
    margin-top: 10px;
    
}
.finder-button{
    background: #3897F0;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f8f8f8;
    font-weight: 600;
    height: 39px;
    margin: 14px 0 0;
    width: 90%;
}
.input-tel{
    width: 65%;
}
.certification {
    background: #3897F0;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    color: #f8f8f8;
    font-weight: 600;
    height: 39px;
    width: 30%px;
}