img{
    width: 200px;
    height: 200px;
}
.content_box{
    padding: 50px;
}
.item1{
    padding: 50px 80px 50px;
    }
.item{
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}