.main{
    position: relative;
    width: 100%;
    height: calc(100vh - 61px);
}
.main img {
    width: 1200px;
    height: 80%;
    padding-top: 50px;
    object-fit: cover;
}



.item-list{
    display: flex;
}
#youtube{
    display: flex;
}
.item-list>div {
width: 15%;
height: auto;
}
.item-list img {
width: 100%;
}
.recently-item{
    width: 220px;
    height: 220px;
}

