.youPost{
    padding-left: 120px;
    padding-top: 10px;
}
.search{
    margin-left: auto;
    margin-top: 16px;
}
.buttonOrder{
    background: #EBEDF2;
    border: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    font-weight: 600;
    height: 39px;
    margin: 14px 0 0;
    width: 80px;
}
.videoList {
    list-style: none;
    padding: 0;
}  
.listmain{
    padding-top: 50px;
    padding-left: 155px;
    padding-right: 10px;
}
.box{
	margin-top: 10px;
    margin-left: 70px;
}
.goodslist{
    padding-left:100px;
}