<html xmlns:th="http://www.thymeleaf.org">
		<nav class="navbar" th:fragment="navbar">
		<label class="logo"><span OnClick="location.href='/'" style="cursor:pointer">STRETCHING</span></label>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/program">PROGRAM</a></li>
                    <li><a href="/messageBoard">BULLETIN BOARD</a></li>
                    <li><a href="/sportingGoods">SPORTING GOODS</a></li>
                    <li><a href="/signin">LOGIN</a></li>
                </ul>
            </nav>  
</html>
